/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2016, 21:19:42
    Author     : dijalma
*/

* {
    margin: 0;
    padding: 0
}

body {
    color: black;
    height: 100%;
}

.form-control-sm {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

header {
    position: fixed;
    background: #fcfcfc;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 4px -2px #000;
}

.imgPerfil {
    max-height: 100px;
    width: auto;
    height: auto;
    cursor: pointer
}

.imgCadastro{
    max-height: 110px;
    width: auto;
    margin: 4px;
}

#sair {
    position: relative;
    top: -50px !important;
    margin: 10px;
}

.functionsUser {
    text-align: center;
    background: #eceff1;
    padding: 10px;
    width: 20%;
    height: 570px;
}

.conteudo {
    text-align: center;
    top: 20px;
    width: 80%;
    height: auto;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    right: 0px;
    margin-top: 80px !important;
}

#criaGrupo {
    position: relative;
    top: -30px;
}

.modal-notification {
    color: white;
    position: absolute;
    top: 120px;
    right: 50px;
    background: #323232;
    margin: 0 auto;
    min-width: 50px;
    max-width: 300px;
    height: auto;
    box-shadow: 0px 0px 10px -1px #000;
    text-align: center;
    z-index: 1050;
}

.modal-notification:hover{
    opacity: 0.9;
}

.modal-notification h4{
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.invisible {
    display: none;
}

.background-gradient {
    background: linear-gradient(to right, #607d8b , #546e7a);
}

#modal-login {
    width: 60%;
    min-width: 300px;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 3px;
}

.modal-login-header{
    padding-top: 2px !important;
}

#modal-login form{
    margin: 0 auto;
    width: 97%;
}

form div {
    margin: 2px;
}

.line-logo {
    margin: 0 auto;
    min-width: 300px;
    max-width: 450px;
    width: 60%;
}

.z-index-2 {
    box-shadow: 0 0 20px 1px #000;
    z-index: 5;
}

.z-index-1 {
    box-shadow: 0 0 10px 1px #000;
    z-index: 4;
}

.modal-cadastro{
    padding: 4px;
    min-width: 300px;
    max-width: 450px;
    width: 60%;
    margin: 0 auto;
    background: #F3F3F3;
}

.imgVisit{
    margin-top: 20px;
    width: auto;
    cursor: pointer;
    height: 200px;
}

.modal_confirmacao{
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
}

.modal-imagem {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#xclose-image {
    position: absolute;
    z-index: 1041;
    top: 20px;
    right: 20px;
}

#xclose-image img:hover{
    padding: 2px;
}

#fotoSelecionada{
    height: 550px;
    width: auto;
    margin: 0px !important;
    padding: 0px !important;
}

.modal-body-imagem{
    margin-top: 50px;
    background: #000;
    opacity: 0.9;
}

.modal-center {
    margin: 0 auto;
}

.aside-responsivo {
    position: fixed;
    border-radius: 50%;
    background: #546e7a;
    width: 65px;
    height: 65px;
    bottom: 20px;
    right: 10px;
    box-shadow: 0 0 10px -1px #000;
    display: none;
    z-index: 2;
}

.aside-responsivo:hover {
    box-shadow: 0 0 10px 1px #000;
    cursor: pointer;
    transition-duration: 0.8s;
}

.aside-responsivo img {
    position: relative;
    top: 15px;
    width: 35px;
}

.aside-lateral {
    text-align: center;
    position: fixed;
    left: 0px;
    background: #eceff1;
    z-index: 1050;
    width: 250px;
    overflow-y: auto;
    padding: 4px;
}

.modal-dark {
    opacity: 0.9;
}

#novoIdolo{
    padding: 5px;
    background: #5cb85c;
    border: 1px solid #4cae4c;;
    border-radius: 4px;
    width: 45px;
    height: 45px;
}

#novoIdolo:hover{
    background: #449D44;
}

.linha-mais-escura{
    border-top: 1px solid #e4dada;
}

.card {
    background: #90a4ae;
    border-radius: 4px;
    margin: 4px;
    box-shadow: 0 0 6px -1px #000;
}

.card a {
    color: white !important;
}

.title-group{
    text-align: center;
    margin: 20px;
}

.title-group a {
    float: right;
    margin: 6px;
}

.descricao-group {
    width: 300px;
}

.modal-event {
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 0px 20px -2px #FFFFFF;
    top: 100px;
    padding: 6px;
    text-align: center;
    background: #F3F3F3;
    margin: 0 auto;
    max-width: 415px;
    min-height: 250px;
}

@media(max-width:1024px){
    #fotoSelecionada {
        height: 500px;
    }
}

@media(max-width:900px){
    .functionsUser{
        display: none;
    }

    .aside-responsivo {
        display: block;
    }
    
    .conteudo {
        width: 100%;
    }
}

@media(max-width:840px){
    #fotoSelecionada {
        max-height: 400px;
    }
}

@media(max-width:755px){
    #fotoSelecionada {
        max-height: 300px;
    }
}

@media(max-width:615px){
    #xclose-image img{
        width: 15px;
    }

    #fotoSelecionada {
        max-height: 220px;
    }
}

@media(max-width:455px){
    #fotoSelecionada {
        max-height: 200px;
    }
}

@media(max-width:355px){
    #fotoSelecionada {
        max-height: 140px;
    }
}